.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
    text-decoration: none;
    text-color: gray;
}

#form-header {
    margin: 90px auto;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.anchors{
    display: flex;
    justify-content: space-around;
    background-color: #2F4F4F;
    height: 40px;
}

.container, .container-fluid {
  margin: 40px 20px 150px 20px;
}

.header{
    position: sticky;
    top: 0;
    z-index: 100;
}

.levelAndSpellSlots{
    margin: 50px 10px 300px 10px;
}

.proficiencyStats{
    margin: 120px 10px 60px 10px;
}

.wiz {
    display:flex;
    flex-wrap:wrap;
}
.wizard{
    display:flex;
    flex-direction:column;

}

.wizard-cantrip-table{
    display:flex;
    flex-wrap: wrap;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
